<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angoti.projetointegrador4_2020">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoIntegrador42020"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activities.activitiesAddressDealership.AlteracaoDeEnderecoDaConcessionariaActivity"
            android:label="Alterar Endereço da Concessionária"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.activitiesAddressDealership.ListagemDeEnderecoDaConcessionariaActivity"
            android:label="Listagem de Endereços das Concessionárias"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.activitiesAddressDealership.CadastroDeEnderecoDaConcessionariaActivity"
            android:label="Novo Endereço da Concessionária"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>


        <activity
            android:name=".activities.activitiesDealerShip.AlteracaoDeConcessionariaActivity"
            android:label="Alterar Concessionária"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.activitiesDealerShip.ListagemDeConcessionariaActivity"
            android:label="Listagem de Concessionária"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.activitiesDealerShip.CadastroDeConcessionariaActivity"
            android:label="Nova Concessionária"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.activitiesAddressUser.AlteracaoDeEnderecoDeUsuarioActivity"
            android:label="Alterar endereço de usuário"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.activitiesAddressUser.ListagemDeEnderecoDeUsuariosActivity"
            android:label="Listagem de endereços de usuários"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.activitiesAddressUser.CadastroDeEderecoDeUsuarioActivity"
            android:label="Novo endereço de usuário"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.activitiesUser.AlteracaoDeUsuarioActivity"
            android:label="Alterar usuário"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.activitiesUser.ListagemDeUsuariosActivity"
            android:label="Listagem de usuários"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.activitiesUser.CadastroDeUsuarioActivity"
            android:label="Novo usuário"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.activitiesAuth.LoginActivity"
            android:label="Login"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProjetoIntegrador42020.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>